html
  head
  link(rel='stylesheet', href='/stylesheets/login.css', meta name="viewport", content="initial-scale=1")
  body
    block content
  div.text-center
    #error
      if errors
        p.text-danger #{errors}

    h2(class="h3 mb-3 font-weight-normal") UNO!
  form(class="form-signin" method="POST" action="/login")
    h1(class="h3 mb-3 font-weight-normal") Log in to play

    label(for="inputEmail" class="sr-only") Email Address
    input(type="email" name="email" id="inputEmail" class="form-control" placeholder="Email Address" required autofocus)

    label(for="inputPassword" class="sr-only") Password
    input(type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required)

    button(class="btn btn-lg btn-primary btn-block" type="login") Log In

    a(href="register" class="btn btn-lg btn-primary btn-block" text-decoration="none")
      button(type="button" class="signup" text-decoration="none") Sign Up
