body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0;
    background-image: url(../images/uno1home.jpg);
    background-size: cover;
    background-repeat: no-repeat, repeat;
    background-position: center;
}

.play {
    text-align: center;
    display: inline-block;
    height: 4rem;
    width: 12rem;
    position: relative;
    margin-left: 68rem;
    margin-top: 35rem;
    font-family: 'Press Start 2p';
    font-size: 25pt;
    cursor: pointer;
    font-family: 'Carter One', sans-serif;
    line-height: 1.5em;
    letter-spacing: .1em;
    text-shadow: 2px 2px 1px #0066a2, -2px 2px 1px #0066a2, 2px -2px 1px #0066a2, -2px -2px 1px #0066a2, 0px 2px 1px #0066a2, 0px -2px 1px #0066a2, 0px 4px 1px #004a87, 2px 4px 1px #004a87, -2px 4px 1px #004a87;
    background: repeating-linear-gradient(45deg, #3ebbf7, #3ebbf7 5px, #45b1f4 5px, #45b1f4 10px);
    border-bottom: 3px solid rgba(16, 91, 146, 0.5);
    border-top: 3px solid rgba(255, 255, 255, .3);
    color: #fff !important;
    border-radius: 8px;
    box-shadow: 0 6px 0 #266b91, 0 8px 1px 1px rgba(0, 0, 0, .3), 0 10px 0 5px #12517d, 0 12px 0 5px #1a6b9a, 0 15px 0 5px #0c405e, 0 15px 1px 6px rgba(0, 0, 0, .3);
}

.play {
    background: repeating-linear-gradient(45deg, #ffc800, #ffc800 5px, #ffc200 5px, #ffc200 10px);
    box-shadow: 0 6px 0 #b76113, 0 8px 1px 1px rgba(0, 0, 0, .3), 0 10px 0 5px #75421f, 0 12px 0 5px #8a542b, 0 15px 0 5px #593116, 0 15px 1px 6px rgba(0, 0, 0, .3);
    border-bottom: 3px solid rgba(205, 102, 0, 0.5);
    text-shadow: 2px 2px 1px #e78700, -2px 2px 1px #e78700, 2px -2px 1px #e78700, -2px -2px 1px #e78700, 0px 2px 1px #e78700, 0px -2px 1px #e78700, 0px 4px 1px #c96100, 2px 4px 1px #c96100, -2px 4px 1px #c96100;
}

.play:hover {
    top: 4px;
    box-shadow: 0 4px 0 #b76113, 0 6px 1px 1px rgba(0, 0, 0, .3), 0 8px 0 5px #75421f, 0 10px 0 5px #8a542b, 0 13px 0 5px #593116, 0 13px 1px 6px rgba(0, 0, 0, .3);
}

.play::before {
    content: '';
    height: 10%;
    position: absolute;
    width: 40%;
    background: #fff;
    right: 13%;
    top: -3%;
    border-radius: 99px;
}

.play::after {
    content: '';
    height: 10%;
    position: absolute;
    width: 5%;
    background: #fff;
    right: 5%;
    top: -3%;
    border-radius: 99px;
}

/*
.play {
    position: relative;
    margin-left: 90rem;
    margin-top: 40rem;
    display: block;
    height: 75px;
    width: 200px;
    background: #fff;
    border: 3px solid #379711;
    border-radius: 50px;
    color: rgb(74, 84, 94);
    text-transform: initial;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
    text-decoration: none;
}

p {
    margin-top: 0px;
    margin-bottom: 40px;
    margin-left: 3rem;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 5rem;
    letter-spacing: 1.5rem;
    text-transform: uppercase;
    color: #e1d352;
    text-shadow: 0px 0px #e1d352,
        -6px 6px #716a29;
    position: relative;
    margin-left: 70rem;
}
*/