html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-image: url(../images/green_cup.png);
    overflow-wrap: normal;
}

.top {
    text-align: left;
}

.container1 {
    overflow: hidden;
    float: left;
    margin-top: 3.5rem;
    margin-left: .9rem;
    box-shadow: 0px 0px 5px 0px;
    width: 25%;
    height: 80%;
    max-height: 100%;
    max-width: 100%;
}

.container2 {
    overflow: hidden;
    float: right;
    margin-top: 3.5rem;
    margin-right: .9rem;
    box-shadow: 0px 0px 5px 0px;
    width: 25%;
    height: 80%;
    max-height: 100%;
    max-width: 100%;
}

#wrapper {
    width: 500px;
    margin: auto;
    padding: auto;
    overflow: auto;
}

.section {
    height: 200px;
    position: relative;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

h3,
.p {
    color: #fff;
}


h4,
h5 {
    text-align: center;
    margin: 15px;
    color: #000000;
    font-size: 2vmax;
    text-transform: uppercase;
    font-family: Georgia, serif;
    font-stretch: expanded;
    font-style: normal;
}


h2 {
    margin-top: 0rem;
    margin-bottom: -1.5rem;
    margin-left: -1.5rem;
    letter-spacing: 1rem;
    font-size: 8rem;
    text-align: center;
    color: #fcedd8;
    font-family: 'Niconne', 'ubuntu';
    text-shadow:
        .5px .5px 0px #fcedd8,
        5px 5px 0px #D72600,
        7.5px 7.5px 0px #D72600,
        10px 10px 0px #efa032,
        12.5px 12.5px 0px #efa032,
        15px 15px 0px #379711,
        17.5px 17.5px 0px #379711,
        20px 20px 0px #017e7f,
        22.5px 22.5px 0px #017e7f,
        25px 25px 0px #052939,
        27.5px 27.5px 0px #052939,
        30px 30px 0px #c11a2b,
        32.5px 32.5px 0px #c11a2b,
        35px 35px 0px #c11a2b,
        37.5px 37.5px 0px #c11a2b,
        40px 40px 0px #c11a2b
}

@media screen and (max-device-width : 400px) {
    h2 {
        font-size: 8rem;
    }
}

@media screen and (min-device-width : 600px) {
    h2 {
        font-size: 7rem;
    }
}

h1 {
    justify-content: center;
    font-size: 1.5em;
    margin: 20px;
    margin-top: 5em;
    text-align: center;
    background-color: #ffffff;
    border: 2px #e78700;
    border-style: dashed dotted;
    
}


.logout,
.settings,
.findgame {
    position: relative;
    overflow: hidden;
    align-content: center;
    margin: 30px;
    cursor: pointer;
    display: block;
    height: 2em;
    width: 15em;
    font-size: 1.5vmax;
    cursor: pointer;
    font-family: 'Carter One', sans-serif;
    line-height: 1.5em;
    letter-spacing: .1em;
    background: repeating-linear-gradient(45deg, #ffc800, #ffc800 5px, #ffc200 5px, #ffc200 10px);
    color: #fff !important;
    border-radius: 6px;
    box-shadow: 0 2px 0 #b76113, 0 2px 1px 1px rgba(0, 0, 0, .3), 0 3px 0 3px #75421f, 0 6px 0 3px #8a542b, 0 3px 0 3px #593116, 0 8px 1px 3.5px rgba(0, 0, 0, .3);
    border-bottom: 1px solid rgba(205, 102, 0, 0.5);
    text-shadow: 1px 1px .5px #e78700, -2px 2px 1px #e78700, 2px -2px 1px #e78700, -2px -2px 1px #e78700, 0px 2px 1px #e78700, 0px -2px 1px #e78700, 0px 4px 1px #c96100, 2px 4px 1px #c96100, -2px 4px 1px #c96100;
}

.logout:hover,
.settings:hover,
.findgame:hover {
    top: 1px;
    box-shadow: 0 2.5px 0 #b76113, 0 3px 1px 1px rgba(0, 0, 0, .3), 0 4px 0 4px #75421f, 0 5px 0 4px #8a542b, 0 4px 0 4px #593116, 0 8px 1px 4.5px rgba(0, 0, 0, .3);
}