html {
    box-sizing: border-box;
    flex: 1 1 50%;
    max-width: auto;
}

body {
    padding: 40px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0;
    background-image: linear-gradient(to right, rgba(140, 66, 77, 8), #79626b);
}

form {
    margin-top: 10rem;
    width: 30%;
    height: 70%;
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0px 0px 7px 2px black;
    margin-left: auto;
    margin-right: auto;
    margin: 5% auto;
    max-width: auto;
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 10%;
}

h1 {
    text-align: center;
    margin: 15px;
    margin-left: 1.5rem;
    color: #000000;
    font-size: 3vw;
    text-transform: uppercase;
    font-family: Georgia, serif;
    font-stretch: expanded;
    font-style: normal;
}

h2 {
    margin-top: 0px;
    margin-bottom: 40px;
    margin-left: 3rem;
    text-align: center;
    font-style: Arial;
    font-size: 8rem;
    letter-spacing: 1.5rem;
    text-transform: uppercase;
    color: #0956BF;
    text-shadow: -4px 4px #0956BF,
        -8px 8px #D72600,
        -12px 12px #D72600,
        -16px 16px #379711,
        -20px 20px #379711,
        -24px 24px #ECD407,
        -28px 28px #ECD407
}

.sr-only {
    max-width: 400px;
    width: 800%;
    line-height: 2em;
    font-family: 'Ubuntu', sans-serif;
    margin: -1.5em 0em;
    margin-top: 2em;
    text-align: left;
}

#inputEmail,
#inputPassword {
    display: inline-flex;
    max-width: 100%;
    width: 100%;
    line-height: 3em;
    font-family: 'Ubuntu', sans-serif;
    margin: 1em 0em;
    border-radius: 5px;
    border: 2px solid #f2f2f2;
    padding-left: 10px;
}

button:hover {
    opacity: 0.8;
}

button[type=login] {
    position: relative;
    top: 3.5rem;
    display: block;
    height: 50px;
    width: 150px;
    background: #fff;
    border: 3px solid #379711;
    border-radius: 20px;
    color: rgb(74, 84, 94);
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
    text-decoration: none;
    margin: 0 auto;

}

.signup:hover {
    opacity: 0.9;
}

a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
}

.signup {
    position: relative;
    top: 3.5rem;
    display: block;
    height: 50px;
    width: 150px;
    background: #fff;
    border: 3px solid #ECD407;
    border-radius: 20px;
    color: rgb(74, 84, 94);
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
    margin: 0 auto;
}

/*Media Querie*/
@media only screen and (min-width : 150px) and (max-width : 530px) {

    .form,
    .sr-only {
        text-align: center;
        margin: 0;
    }

    .signup,
    .form,
    .no-access,
    .sr-only {
        margin: 10px 0;
    }

    button[type=login],
    .form {
        margin-bottom: 10px;
    }
}