body {
    margin: 0;
    background-image: url(../images/green_cup.png);
}

form {
    margin-top: 10rem;
    width: 30%;
    height: 70%;
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0px 0px 7px 2px black;
    margin-left: auto;
    margin-right: auto;
    margin: 5% auto;
    max-width: auto;
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 10%;
}

h1 {
    text-align: center;
    margin: 15px;
    margin-left: 1.5rem;
    color: #000000;
    font-size: 3vw;
    text-transform: uppercase;
    font-family: Georgia, serif;
    font-stretch: expanded;
    font-style: normal;
}

h2 {
    margin-top: 0rem;
    margin-bottom: -3rem;
    margin-left: -1.5rem;
    letter-spacing: 1rem;
    font-size: 11.5rem;
    text-align: center;
    color: #fcedd8;
    font-family: 'Niconne', 'ubuntu';
    text-shadow: 5px 5px 0px #D72600,
        10px 10px 0px #efa032,
        15px 15px 0px #379711,
        20px 20px 0px #017e7f,
        25px 25px 0px #052939,
        30px 30px 0px #c11a2b,
        35px 35px 0px #c11a2b,
        40px 40px 0px #c11a2b,
        45px 45px 0px #c11a2b;
}

.sr-only {
    max-width: 400px;
    width: 800%;
    line-height: 2em;
    font-family: 'Ubuntu', sans-serif;
    margin: -1.5em 0em;
    margin-top: 2em;
    text-align: left;
}

#username,
#inputEmail,
#inputPassword,
#inputPassword2 {
    display: inline-flex;
    max-width: 100%;
    width: 100%;
    line-height: 3em;
    font-family: 'Ubuntu', sans-serif;
    margin: 2em 0em;
    margin-bottom: auto;
    border-radius: 5px;
    border: 2px solid #f2f2f2;
    padding-left: 10px;
}

button:hover {
    opacity: 0.9;
}

button[type=submit] {
    margin: 0 auto;
    height: 50px;
    width: 150px;
    margin-top: 3.5rem;
    background: #fff;
    border: 3px solid #379711;
    border-radius: 20px;
    color: rgb(74, 84, 94);
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
}

/*Media Querie*/
@media only screen and (min-width : 150px) and (max-width : 530px) {

    .form,
    .sr-only,
    .h1 {
        text-align: center;
        margin: 0;
    }

    .signup,
    .form,
    .no-access,
    .sr-only,
    #username,
    #inputEmail,
    #inputPassword,
    #inputPassword2 {
        margin: 10px 0;
    }

    button[type=login],
    .form {
        margin-bottom: 10px;
    }
}